* {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 12px;
}

.sidebar {
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: 215px;
  position: fixed;
  top: 111px;
  left: 0;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 25px;
  background-image: url("/title-sidebar-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
li {
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

ul {
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

.sidebar a {
  background-image: url("/title-sidebar-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  text-decoration: underline;
}

body {
  background-image: url("/background.jpg");
  background-attachment: fixed;
}

.forum-main {
  margin-left: 230px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(12, 133, 13, 0.75);
  border-radius: 8px;
  min-height: 80vh;
  border: 1px solid whitesmoke;
  margin-left: 230px;
  z-index: 0;
}

.new-post {
  background-color: rgba(12, 133, 13, 0.85);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  color: rgba(12, 133, 13, 0.75);
  margin-left: 230px;
}

.new-post form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 230px;
}

.new-post input,
.new-post textarea {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid whitesmoke;
  background-color: black;
  color: white;
  margin-left: 230px;
}

.new-post button {
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid whitesmoke;
  background-color: rgba(12, 133, 13, 0.9);
  color: white;
  cursor: pointer;
  margin-left: 230px;
}

.new-post button:hover {
  background-color: rgba(12, 133, 13, 1);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  color: rgba(12, 133, 13, 0.9);
  overflow-y: auto;
  opacity: 75%;
}

.post {
  background-color: #0c850d;
  color: rgba(12, 133, 13, 0.9);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid whitesmoke;
  width: 700px;
}

.logout-button {
  color: whitesmoke;
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.bottom-left-image {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  height: auto;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.post-button {
  background-color: black;
  opacity: 75%;
}
