* {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 12px;
}

.bottom-left-image {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  height: auto;
  z-index: 10;
  user-select: none;
}

.sidebar {
  background-image: url("/title-sidebar-background.jpg");
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: 215px;
  position: fixed;
  top: 111px;
  left: 0;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 25px;
}

.title {
  background-image: url("/title-sidebar-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

li {
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

ul {
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

.sidebar a {
  background-image: url("/title-sidebar-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  text-decoration: underline;
}

.app {
  background-color: rgba(12, 133, 13, 0.75);
  color: white;
  text-align: left;
  border-radius: 8px;
  width: fit-content;
  position: fixed;
  border: 1px solid whitesmoke;
  left: 60rem;
  top: 30rem;
}

body {
  background-image: url("/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebar-menu {
  background: none;
}

#sidebar-menu li,
#sidebar-menu a {
  background: none;
}

.sidebar ul {
  background-color: none;
}

h1 {
  background: none;
}

#sidebar-menu {
  background: none;
}

#sidebar-menu li,
#sidebar-menu a {
  background: none;
}
