* {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 12px;
}

.bottom-left-image {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  height: auto;
  z-index: 10;
  user-select: none;
}

.sidebar {
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: 215px;
  position: fixed;
  top: 111px;
  left: 0;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 25px;
  margin-top: 50px;
}

.title {
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

li {
  background-color: #0c850d;
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

ul {
  background-color: #0c850d;
  list-style: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}

.sidebar a {
  display: block;
  background-color: #0c850d;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  text-decoration: underline;
}

body {
  background-image: url("/background.jpg");
  background-attachment: fixed;
}

.login-button {
  position: fixed;
  bottom: 32rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.login-form {
  bottom: 3rem;
  padding: 0.5rem 1rem;
}

.login-message {
  color: whitesmoke;
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  opacity: 75%;
}

.logout-button {
  color: whitesmoke;
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
