* {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 15px;
}

.title {
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.body {
  background-color: #0c850d;
  border: 1px solid whitesmoke;
  text-align: left;
  border-radius: 8px;
  width: fit-content;
  font-size: 12px;
  width: 450px;
}

.mission_container {
  background-color: #0c850d;
}

.body b,
.body i,
.body u {
  background-color: #0c850d;
  font-size: 20px;
}

h1 {
  background-color: #0c850d;
}

p {
  background-color: #0c850d;
  font-size: 18px;
}

.bottom-left-image {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  height: auto;
  z-index: 10;
}
